Source: oxyos-wallpapers
Section: x11
Priority: extra
Maintainer: OxyHQ <contact@oxyhq.com>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 3.9.5
Homepage: https://github.com/OxyHQ/OxyOS-wallpapers

Package: oxyos-wallpapers
Architecture: all
Depends: ${misc:Depends}
Description: A selection of wallpapers
 Images for use as backgrounds with OxyOS.
